/* General Navbar Styles */
nav {
  background-color: #003366; /* Dark blue */
  color: white;
  padding: 16px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Se mantiene como relativo en pantallas grandes */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav .right-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #005b99;
  border-radius: 4px;
}

